$btn-color-light-green: #c5e09b;
$btn-font-color: #3d4631;
$button-hover-color: #7bba02;

.btn {
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  min-width: 4rem;
  text-align: center;
}
.mb-6 {
  margin-bottom: 1.5rem;
}

.btn-green {
  background: $btn-color-light-green;
  color: $btn-font-color;
}

.btn.active-link {
  background: $button-hover-color;
}
