<div class="bg-white br-2">
  <div class="container p-4">
    <p class="h3">Filters</p>
    
    <p class="subtitle1 text-center">Launch Year</p>
    <div class="divider-middle"></div>
    <div class="p-4 full-width flex flex-wrap space-between" >
      <a class="mb-6 flex-basis-40 btn btn-green" *ngFor="let year of yearsList; let i = index" (click)="launchYears(year)" [class.active-link]="year == userSelectedYearFilter">{{year}} </a>
    </div>
   
    <p class="subtitle1 text-center">Successful Launch</p>
    <div class="divider-middle"></div>  
    <div class="p-4 full-width flex flex-wrap space-between">
      <a class="mb-6 flex-basis-40 btn btn-green" (click)="successfulLaunching('true')" [class.active-link]=" 'true' == userSelectedLaunchFilter"> True </a>
      <a class="mb-6 flex-basis-40 btn btn-green" (click)="successfulLaunching('false')" [class.active-link]=" 'false' == userSelectedLaunchFilter"> False </a>
    </div>

    <p class="subtitle1 text-center">Successful Landing</p>
    <div class="divider-middle"></div>
    <div class="p-4 full-width flex flex-wrap space-between">
      <a class="mb-6 flex-basis-40 btn btn-green" (click)="successfulLanding('true')" [class.active-link]=" 'true' == userSelectedLandingFilter"> True </a>
      <a class="mb-6 flex-basis-40 btn btn-green" (click)="successfulLanding('false')" [class.active-link]=" 'false' == userSelectedLandingFilter"> False </a>
    </div>
  </div>
</div>