$linght-blueviolet: #4b4bad;
.col-25{
    width: 25%;
}
.mission-card{
    padding: 14px;
    text-align: center;
    margin: 0 0px 10px 20px;
    background-color: #ffffff;
    border-radius: 4px;
    height: 410px;
    @media all and (max-width:700px) {
        height: auto;
        margin: 0;
    }
    img {
        background-color: #eceaea73;
    }
    p.mission-title{
      color: $linght-blueviolet;
      font-size: 13px;
      font-weight: bold;
      padding: 15px 0 0 0;
    }
    .mission-info-container{
        text-align: left;
        ul{
            margin: 0;
        }
        label{
            font-size: 14px;
            line-height: 25px;
            display: block;
            font-weight: 600;
        }
        span{
           font-size: inherit;
           font-weight: 400;
           color: $linght-blueviolet;
           font-size: 14px;
       }
    }
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.no-padding {
    padding: 0;
}
.notfound {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 0px 0px 0 20px;
    padding: 26px;
    @media all and (max-width:1024px) {
        margin: 0;
        height: auto;
        padding: 20px;
    }
    @media all and (max-width:700px) {
        margin: 0;
        height: auto;
        padding: 20px;
    }
    h1 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
    padding-top: 10px;
    color: #262626;
    text-transform: uppercase;
    @media all and (max-width:700px) {
        font-size: 20px;
    }
        span {
            color: #00b7ff;
        }
    }
    p{
        margin: 0;
    }
    .sorry-title {
        position: relative;
    }
}



