.header-title{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 21px;
    letter-spacing: 2px;
}
.right-aside{
    height: 746px;
}
.developer-name {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    label{
        font-size: 20px;
        font-weight: 200;
    }
}