body{
    padding: 0;
    margin: 0;
	background-color: #eceaea73;
    font-weight: 400;
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

//@import "compass"
$grid-color: #FFEBEE;
$block-color: #EEFF41;
$gutter: 40px;

//some styling:
.block{
	display: block;
	text-align: center;
    margin-bottom: 20px;
}

//the grid:
.grid{
	margin-left: ($gutter / 2);
	margin-right: ($gutter / 2);
}

.grid-col-left{
	width: 18%;
	float: left; 
}
.grid-col-right{
	width: 82%;
	float: left; 
}

.custom-grid {
	width: 18%;
	float: left;
}
.clear{
	clear: both;
	display: block;
}

//Below Styling apply to mobile Device responsive
@media all and (max-width:700px) {
    .custom-grid{
		width: 100%;
    }
	.grid-col-left{
		float: none;
		width: 100%;
	}
	.grid-col-right{
		float: none;
		width: 100%; 
	}
}
//Below Styling apply to Tab Device responsive
@media all and (min-width: 700px) and (max-width: 1024px){
	.custom-grid{
		width: 50%;
    }
	.grid-col-left{
		width: 33%;
	}
	.grid-col-right{
		width: 67%; 
	}
}



