body{
    padding: 0;
    margin: 0;
	background-color: #eceaea73;
    font-weight: 400;
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

//@import "compass"
$grid-color: #FFEBEE;
$block-color: #EEFF41;
$gutter: 40px;

//some styling:
.block{
    //background-color: $block-color;
	display: block;
	text-align: center;
    margin-bottom: 20px;
    //border: 2px solid red;
}

//the grid:
.grid{
	margin-left: ($gutter / 2);
	margin-right: ($gutter / 2);
}

.col-33{
	width: 33.3%;
	float: left;
}
.col-50{
	width: 50%;
	float: left;
}

.col-25{
    width: 18%;
	float: left; 
}

.col-75{
    width: 82%;
	float: left; 
}

.clear{
	clear: both;
	display: block;
}

//responsive

@media all and (max-width:700px) {
	.col-33{
		width: 50%;
    }
    .col-25{
		width: 100%;
    }
    .col-75{
        width: 100%;
	}
	.col-50, .col-33{
		width: 100%;
		float: none;
	}
}


@media all and (min-width: 700px) and (max-width: 1024px){
	.col-25{
		width: 50%;
	}
	.grid-col-sm{
		width: 100%;
	}
}



